In [1]:
import pandas as pd 
data = pd.read_csv("C:\\Users\\amine\\Downloads\\Formations\\Application of AI for Predictive Maintenance\\Notebooks\\dataset_pretraite.csv")

In [2]:
data=data.drop(columns=['Amount_Unpaid','Interest_Accumulated','Payments_Made'])
data

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Months_Delay
0,0x1628a,CUS_0x1000,1,Alistair Barrf,17,913-74-1218,Lawyer,30625.94,2706.161667,6.0,...,0.0,1562.91,26.612093,122.0,1.000000,42.941090,244.750283,4.000000,252.924793,2.066667
1,0x1628b,CUS_0x1000,2,Alistair Barrf,17,913-74-1218,Lawyer,30625.94,2706.161667,6.0,...,0.0,1562.91,29.439759,123.0,1.000000,42.941090,176.132567,1.000000,311.542510,2.066667
2,0x1628c,CUS_0x1000,3,Alistair Barrf,17,913-74-1218,Lawyer,30625.94,2706.161667,6.0,...,0.0,1562.91,38.285928,124.0,1.000000,42.941090,109.056519,3.000000,368.618557,2.066667
3,0x1628d,CUS_0x1000,4,Alistair Barrf,17,913-74-1218,Lawyer,30625.94,2706.161667,6.0,...,0.0,1562.91,32.843081,125.0,1.000000,42.941090,87.909909,1.169513,419.765167,2.133333
4,0x1628e,CUS_0x1000,5,Alistair Barrf,17,913-74-1218,Lawyer,30625.94,2706.161667,6.0,...,0.0,1562.91,32.330508,126.0,1.000000,42.941090,191.834767,4.000000,305.840309,2.233333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,0x25b01,CUS_0xffd,8,Damouniq,30,832-88-8320,Scientist,41398.44,3749.870000,8.0,...,1.0,1701.88,39.916655,225.0,1.000000,182.976649,42.575720,6.000000,389.434631,0.766667
149996,0x25b02,CUS_0xffd,9,Damouniq,30,832-88-8320,Scientist,41398.44,3749.870000,8.0,...,1.0,1701.88,33.972277,226.0,1.000000,182.976649,63.747293,6.000000,368.263057,0.933333
149997,0x25b03,CUS_0xffd,10,Damouniq,30,832-88-8320,Scientist,41398.44,3749.870000,8.0,...,1.0,1701.88,29.774213,227.0,1.000000,182.976649,230.374984,4.000000,231.635366,0.766667
149998,0x25b04,CUS_0xffd,11,Damouniq,30,832-88-8320,Scientist,41398.44,3749.870000,8.0,...,1.0,1701.88,32.031308,228.0,1.000000,182.976649,434.955296,0.000000,47.055055,0.766667
149999,0x25b05,CUS_0xffd,12,Damouniq,30,832-88-8320,Scientist,41398.44,3749.870000,8.0,...,1.0,1701.88,38.814464,229.0,0.807149,182.976649,210.584896,1.000000,241.425454,0.766667

In [3]:
data['Num_of_Delayed_Payment']=data['Num_of_Delayed_Payment'].round()
data

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Months_Delay
0,0x1628a,CUS_0x1000,1,Alistair Barrf,17,913-74-1218,Lawyer,30625.94,2706.161667,6.0,...,0.0,1562.91,26.612093,122.0,1.000000,42.941090,244.750283,4.000000,252.924793,2.066667
1,0x1628b,CUS_0x1000,2,Alistair Barrf,17,913-74-1218,Lawyer,30625.94,2706.161667,6.0,...,0.0,1562.91,29.439759,123.0,1.000000,42.941090,176.132567,1.000000,311.542510,2.066667
2,0x1628c,CUS_0x1000,3,Alistair Barrf,17,913-74-1218,Lawyer,30625.94,2706.161667,6.0,...,0.0,1562.91,38.285928,124.0,1.000000,42.941090,109.056519,3.000000,368.618557,2.066667
3,0x1628d,CUS_0x1000,4,Alistair Barrf,17,913-74-1218,Lawyer,30625.94,2706.161667,6.0,...,0.0,1562.91,32.843081,125.0,1.000000,42.941090,87.909909,1.169513,419.765167,2.133333
4,0x1628e,CUS_0x1000,5,Alistair Barrf,17,913-74-1218,Lawyer,30625.94,2706.161667,6.0,...,0.0,1562.91,32.330508,126.0,1.000000,42.941090,191.834767,4.000000,305.840309,2.233333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,0x25b01,CUS_0xffd,8,Damouniq,30,832-88-8320,Scientist,41398.44,3749.870000,8.0,...,1.0,1701.88,39.916655,225.0,1.000000,182.976649,42.575720,6.000000,389.434631,0.766667
149996,0x25b02,CUS_0xffd,9,Damouniq,30,832-88-8320,Scientist,41398.44,3749.870000,8.0,...,1.0,1701.88,33.972277,226.0,1.000000,182.976649,63.747293,6.000000,368.263057,0.933333
149997,0x25b03,CUS_0xffd,10,Damouniq,30,832-88-8320,Scientist,41398.44,3749.870000,8.0,...,1.0,1701.88,29.774213,227.0,1.000000,182.976649,230.374984,4.000000,231.635366,0.766667
149998,0x25b04,CUS_0xffd,11,Damouniq,30,832-88-8320,Scientist,41398.44,3749.870000,8.0,...,1.0,1701.88,32.031308,228.0,1.000000,182.976649,434.955296,0.000000,47.055055,0.766667
149999,0x25b05,CUS_0xffd,12,Damouniq,30,832-88-8320,Scientist,41398.44,3749.870000,8.0,...,1.0,1701.88,38.814464,229.0,0.807149,182.976649,210.584896,1.000000,241.425454,0.766667

In [4]:
for k in range(149998):
    X=data.loc[k,'Num_of_Delayed_Payment']
    Y=data.loc[k+2,'Num_of_Delayed_Payment']
    if data.loc[k+1,'Num_of_Delayed_Payment'] > 100:
        data.loc[k+1,'Num_of_Delayed_Payment']= ((X+Y)/2).round()

data

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Months_Delay
0,0x1628a,CUS_0x1000,1,Alistair Barrf,17,913-74-1218,Lawyer,30625.94,2706.161667,6.0,...,0.0,1562.91,26.612093,122.0,1.000000,42.941090,244.750283,4.000000,252.924793,2.066667
1,0x1628b,CUS_0x1000,2,Alistair Barrf,17,913-74-1218,Lawyer,30625.94,2706.161667,6.0,...,0.0,1562.91,29.439759,123.0,1.000000,42.941090,176.132567,1.000000,311.542510,2.066667
2,0x1628c,CUS_0x1000,3,Alistair Barrf,17,913-74-1218,Lawyer,30625.94,2706.161667,6.0,...,0.0,1562.91,38.285928,124.0,1.000000,42.941090,109.056519,3.000000,368.618557,2.066667
3,0x1628d,CUS_0x1000,4,Alistair Barrf,17,913-74-1218,Lawyer,30625.94,2706.161667,6.0,...,0.0,1562.91,32.843081,125.0,1.000000,42.941090,87.909909,1.169513,419.765167,2.133333
4,0x1628e,CUS_0x1000,5,Alistair Barrf,17,913-74-1218,Lawyer,30625.94,2706.161667,6.0,...,0.0,1562.91,32.330508,126.0,1.000000,42.941090,191.834767,4.000000,305.840309,2.233333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,0x25b01,CUS_0xffd,8,Damouniq,30,832-88-8320,Scientist,41398.44,3749.870000,8.0,...,1.0,1701.88,39.916655,225.0,1.000000,182.976649,42.575720,6.000000,389.434631,0.766667
149996,0x25b02,CUS_0xffd,9,Damouniq,30,832-88-8320,Scientist,41398.44,3749.870000,8.0,...,1.0,1701.88,33.972277,226.0,1.000000,182.976649,63.747293,6.000000,368.263057,0.933333
149997,0x25b03,CUS_0xffd,10,Damouniq,30,832-88-8320,Scientist,41398.44,3749.870000,8.0,...,1.0,1701.88,29.774213,227.0,1.000000,182.976649,230.374984,4.000000,231.635366,0.766667
149998,0x25b04,CUS_0xffd,11,Damouniq,30,832-88-8320,Scientist,41398.44,3749.870000,8.0,...,1.0,1701.88,32.031308,228.0,1.000000,182.976649,434.955296,0.000000,47.055055,0.766667
149999,0x25b05,CUS_0xffd,12,Damouniq,30,832-88-8320,Scientist,41398.44,3749.870000,8.0,...,1.0,1701.88,38.814464,229.0,0.807149,182.976649,210.584896,1.000000,241.425454,0.766667

In [5]:
data_path= "C:\\Users\\amine\\Downloads\\Formations\\Application of AI for Predictive Maintenance\\Notebooks\\dataset_pretraite.csv"
additional_df=pd.read_csv(data_path)
additional_df = additional_df[['Customer_ID', 'Age', 'Occupation', 'Type_of_Loan','Outstanding_Debt', 'Total_EMI_per_month', 'Num_of_Delayed_Payment']]
additional_df

,Customer_ID,Age,Occupation,Type_of_Loan,Outstanding_Debt,Total_EMI_per_month,Num_of_Delayed_Payment
0,CUS_0x1000,17,Lawyer,"Credit-Builder Loan, Home Equity Loan",1562.91,42.941090,25.0
1,CUS_0x1000,17,Lawyer,"Credit-Builder Loan, Home Equity Loan",1562.91,42.941090,23.0
2,CUS_0x1000,17,Lawyer,"Credit-Builder Loan, Home Equity Loan",1562.91,42.941090,28.0
3,CUS_0x1000,17,Lawyer,"Credit-Builder Loan, Home Equity Loan",1562.91,42.941090,25.0
4,CUS_0x1000,17,Lawyer,"Credit-Builder Loan, Home Equity Loan",1562.91,42.941090,25.0
...,...,...,...,...,...,...,...
149995,CUS_0xffd,30,Scientist,"Auto Loan, Payday Loan, Payday Loan, Mortgage ...",1701.88,182.976649,11.0
149996,CUS_0xffd,30,Scientist,"Auto Loan, Payday Loan, Payday Loan, Mortgage ...",1701.88,182.976649,11.0
149997,CUS_0xffd,30,Scientist,"Auto Loan, Payday Loan, Payday Loan, Mortgage ...",1701.88,182.976649,12.0
149998,CUS_0xffd,30,Scientist,"Auto Loan, Payday Loan, Payday Loan, Mortgage ...",1701.88,182.976649,12.0
149999,CUS_0xffd,30,Scientist,"Auto Loan, Payday Loan, Payday Loan, Mortgage ...",1701.88,182.976649,10.0

In [6]:
data=data.drop(columns='Months_Delay')
data

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,0x1628a,CUS_0x1000,1,Alistair Barrf,17,913-74-1218,Lawyer,30625.94,2706.161667,6.0,...,10.0,0.0,1562.91,26.612093,122.0,1.000000,42.941090,244.750283,4.000000,252.924793
1,0x1628b,CUS_0x1000,2,Alistair Barrf,17,913-74-1218,Lawyer,30625.94,2706.161667,6.0,...,11.0,0.0,1562.91,29.439759,123.0,1.000000,42.941090,176.132567,1.000000,311.542510
2,0x1628c,CUS_0x1000,3,Alistair Barrf,17,913-74-1218,Lawyer,30625.94,2706.161667,6.0,...,11.0,0.0,1562.91,38.285928,124.0,1.000000,42.941090,109.056519,3.000000,368.618557
3,0x1628d,CUS_0x1000,4,Alistair Barrf,17,913-74-1218,Lawyer,30625.94,2706.161667,6.0,...,11.0,0.0,1562.91,32.843081,125.0,1.000000,42.941090,87.909909,1.169513,419.765167
4,0x1628e,CUS_0x1000,5,Alistair Barrf,17,913-74-1218,Lawyer,30625.94,2706.161667,6.0,...,11.0,0.0,1562.91,32.330508,126.0,1.000000,42.941090,191.834767,4.000000,305.840309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,0x25b01,CUS_0xffd,8,Damouniq,30,832-88-8320,Scientist,41398.44,3749.870000,8.0,...,7.0,1.0,1701.88,39.916655,225.0,1.000000,182.976649,42.575720,6.000000,389.434631
149996,0x25b02,CUS_0xffd,9,Damouniq,30,832-88-8320,Scientist,41398.44,3749.870000,8.0,...,7.0,1.0,1701.88,33.972277,226.0,1.000000,182.976649,63.747293,6.000000,368.263057
149997,0x25b03,CUS_0xffd,10,Damouniq,30,832-88-8320,Scientist,41398.44,3749.870000,8.0,...,7.0,1.0,1701.88,29.774213,227.0,1.000000,182.976649,230.374984,4.000000,231.635366
149998,0x25b04,CUS_0xffd,11,Damouniq,30,832-88-8320,Scientist,41398.44,3749.870000,8.0,...,7.0,1.0,1701.88,32.031308,228.0,1.000000,182.976649,434.955296,0.000000,47.055055
149999,0x25b05,CUS_0xffd,12,Damouniq,30,832-88-8320,Scientist,41398.44,3749.870000,8.0,...,7.0,1.0,1701.88,38.814464,229.0,0.807149,182.976649,210.584896,1.000000,241.425454

In [7]:
data['Amount_Unpaid']=data['Outstanding_Debt']+(data['Delay_from_due_date'] / 365)*(data['Interest_Rate']/100)*data['Total_EMI_per_month']*data['Num_of_Delayed_Payment']

In [8]:
data['Delay_from_due_date']=((((data['Amount_Unpaid']-data['Outstanding_Debt'])/data['Total_EMI_per_month'])/data['Num_of_Delayed_Payment'])/data['Interest_Rate'])*36500

In [9]:
import pandas as pd
import numpy as np
from scipy.fft import fft
from statsmodels.tsa.seasonal import seasonal_decompose

def dft_past(signal):
    N = len(signal)
    X = np.zeros(N, dtype=complex)
    
    for k in range(N):
        sum_value = 0
        for n in range(k):
            sum_value += signal[n] * np.exp(-1j * 2 * np.pi * k * n / N)
        X[k] = sum_value
    
    return X

def featureextraction(df):
    df = df.sort_values(by=['Customer_ID', 'Month'])
    
    feature_list = []
    
    for customer_id, group in df.groupby('Customer_ID'):
        group = group.copy()
        
        for i in range(1, 4):
            group[f'lag_{i}'] = group['Amount_Unpaid'].shift(i)
        
        group['rolling_mean'] = group['Amount_Unpaid'].rolling(window=3).mean().shift(1)
        group['rolling_std'] = group['Amount_Unpaid'].rolling(window=3).std().shift(1)
        
        try:
            decomposition = seasonal_decompose(group['Amount_Unpaid'].fillna(0), model='additive', period=3)
            group['trend'] = decomposition.trend.shift(1)
            group['seasonal'] = decomposition.seasonal.shift(1)
            group['residual'] = decomposition.resid.shift(1)
        except ValueError as e:
            print(f"Erreur dans la décomposition saisonnière pour le client {customer_id}: {e}")
        
        fft_values = dft_past(group['Amount_Unpaid'].fillna(0).to_numpy())
        fft_real = fft_values.real
        fft_imag = fft_values.imag
        
        if len(fft_real) < len(group):
            fft_real = np.concatenate([fft_real, np.nan * np.zeros(len(group) - len(fft_real))])
            fft_imag = np.concatenate([fft_imag, np.nan * np.zeros(len(group) - len(fft_imag))])
        
        group['fft_real'] = fft_real
        group['fft_imag'] = fft_imag
        
        group['Amount_Unpaid'] = group['Amount_Unpaid']
        
        feature_list.append(group)
    
    df_features = pd.concat(feature_list)
    
    datafinale = df_features[['Customer_ID', 'Month', 'Amount_Unpaid', 'lag_1', 'lag_2', 'lag_3', 
                                        'rolling_mean', 'rolling_std', 'trend', 'seasonal', 'residual', 'fft_real', 'fft_imag']]
    
    return datafinale

In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from statsmodels.tsa.seasonal import seasonal_decompose

# Exemple de création de données (remplacez ceci par votre DataFrame réel)
data = pd.DataFrame({
    'Month': ['2020-01', '2020-02', '2020-03', '2020-04', '2020-05', 
              '2020-06', '2020-07', '2020-08', '2020-09', '2020-10', 
              '2020-11', '2020-12', '2021-01', '2021-02', '2021-03', 
              '2021-04', '2021-05', '2021-06', '2021-07', '2021-08', 
              '2021-09', '2021-10', '2021-11', '2021-12'],
    'Amount_Unpaid': [300, np.nan, 350, 400, np.nan, 
                      450, 400, np.nan, 375, 350, 
                      425, 450, 500, 525, np.nan, 
                      550, 575, 600, 625, 650, 
                      675, 700, np.nan, 725, 750]
})

# Convertir la colonne 'Month' en datetime
data['Month'] = pd.to_datetime(data['Month'])

# Définir la colonne 'Month' comme index
data.set_index('Month', inplace=True)

# Assurez-vous que l'index a une fréquence définie (mensuelle)
data = data.asfreq('M')

# Vérifiez les valeurs manquantes
print("Valeurs manquantes avant traitement:")
print(data.isnull().sum())

# Remplir les valeurs manquantes avec la méthode d'interpolation
data['Amount_Unpaid'].interpolate(method='linear', inplace=True)

# Vérifiez à nouveau les valeurs manquantes
print("Valeurs manquantes après traitement:")
print(data.isnull().sum())

# Effectuer la décomposition saisonnière
decompose_add = seasonal_decompose(data['Amount_Unpaid'], model='additive')

# Tracer les composants
plt.figure(figsize=(12, 8))

plt.subplot(411)
plt.plot(data['Amount_Unpaid'], label='Original')
plt.legend(loc='best')

plt.subplot(412)
plt.plot(decompose_add.trend, label='Trend')
plt.legend(loc='best')

plt.subplot(413)
plt.plot(decompose_add.seasonal, label='Seasonal')
plt.legend(loc='best')

plt.subplot(414)
plt.plot(decompose_add.resid, label='Residual')
plt.legend(loc='best')

plt.tight_layout()
plt.show()

ValueError: All arrays must be of the same length

In [10]:
datatest=featureextraction(data)

In [11]:
datatest.fillna(0, inplace=True)

In [12]:
datatest

,Customer_ID,Month,Amount_Unpaid,lag_1,lag_2,lag_3,rolling_mean,rolling_std,trend,seasonal,residual,fft_real,fft_imag
0,CUS_0x1000,1,1612.145195,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,CUS_0x1000,2,1608.206380,1612.145195,0.000000,0.000000,0.000000,0.000000,0.000000,-0.280294,0.000000,1612.145195,0.000000
2,CUS_0x1000,3,1618.053419,1608.206380,1612.145195,0.000000,0.000000,0.000000,1612.801665,-0.798234,-3.797051,2416.248385,-1392.747579
3,CUS_0x1000,4,1613.733428,1618.053419,1608.206380,1612.145195,1612.801665,4.956234,1613.331075,1.078527,3.643816,-5.908223,-1608.206380
4,CUS_0x1000,5,1616.115776,1613.733428,1618.053419,1608.206380,1613.331075,4.935834,1615.967541,-0.280294,-1.953820,1612.748724,8.527786
...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,CUS_0xffd,8,1718.367951,1719.866855,1719.866855,1734.855901,1724.863204,8.653930,1719.367220,-2.530156,3.029791,-10.036144,443.373363
149996,CUS_0xffd,9,1721.952288,1718.367951,1719.866855,1719.866855,1719.367220,0.865393,1720.062365,2.801093,-4.495507,845.954513,1499.776665
149997,CUS_0xffd,10,1719.866855,1721.952288,1718.367951,1719.866855,1720.062365,1.800149,1720.062365,-0.270937,2.160860,1732.053601,4.627053
149998,CUS_0xffd,11,1719.866855,1719.866855,1721.952288,1718.367951,1720.062365,1.800149,1720.561999,-2.530156,1.835012,-10.264238,2967.778357
149999,CUS_0xffd,12,1716.869046,1719.866855,1719.866855,1721.952288,1720.561999,1.204025,1718.867586,2.801093,-1.801823,-1499.229158,870.084117

In [13]:
targett=datatest['Amount_Unpaid']
datat=datatest.drop(columns='Amount_Unpaid')

In [14]:
targett.to_csv('C:\\Users\\amine\\Downloads\\target.csv', index=False)
datat.to_csv('C:\\Users\\amine\\Downloads\\datat.csv', index=False)

In [15]:
datat

,Customer_ID,Month,lag_1,lag_2,lag_3,rolling_mean,rolling_std,trend,seasonal,residual,fft_real,fft_imag
0,CUS_0x1000,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,CUS_0x1000,2,1612.145195,0.000000,0.000000,0.000000,0.000000,0.000000,-0.280294,0.000000,1612.145195,0.000000
2,CUS_0x1000,3,1608.206380,1612.145195,0.000000,0.000000,0.000000,1612.801665,-0.798234,-3.797051,2416.248385,-1392.747579
3,CUS_0x1000,4,1618.053419,1608.206380,1612.145195,1612.801665,4.956234,1613.331075,1.078527,3.643816,-5.908223,-1608.206380
4,CUS_0x1000,5,1613.733428,1618.053419,1608.206380,1613.331075,4.935834,1615.967541,-0.280294,-1.953820,1612.748724,8.527786
...,...,...,...,...,...,...,...,...,...,...,...,...
149995,CUS_0xffd,8,1719.866855,1719.866855,1734.855901,1724.863204,8.653930,1719.367220,-2.530156,3.029791,-10.036144,443.373363
149996,CUS_0xffd,9,1718.367951,1719.866855,1719.866855,1719.367220,0.865393,1720.062365,2.801093,-4.495507,845.954513,1499.776665
149997,CUS_0xffd,10,1721.952288,1718.367951,1719.866855,1720.062365,1.800149,1720.062365,-0.270937,2.160860,1732.053601,4.627053
149998,CUS_0xffd,11,1719.866855,1721.952288,1718.367951,1720.062365,1.800149,1720.561999,-2.530156,1.835012,-10.264238,2967.778357
149999,CUS_0xffd,12,1719.866855,1719.866855,1721.952288,1720.561999,1.204025,1718.867586,2.801093,-1.801823,-1499.229158,870.084117

In [16]:
import xgboost as xgb
from xgboost import plot_importance, plot_tree
from sklearn.metrics import mean_squared_error, mean_absolute_error, mean_absolute_percentage_error

In [17]:
import xgboost as xgb

# Convertir les colonnes en type 'category'
datatest['Customer_ID'] = datatest['Customer_ID'].astype('category')
datatest['Month'] = datatest['Month'].astype('category')

# Encodage des colonnes catégorielles
datatest['Customer_ID'] = datatest['Customer_ID'].cat.codes
datatest['Month'] = datatest['Month'].cat.codes

# Vérification des types de données
print(datatest.dtypes)

Customer_ID        int16
Month               int8
Amount_Unpaid    float64
lag_1            float64
lag_2            float64
lag_3            float64
rolling_mean     float64
rolling_std      float64
trend            float64
seasonal         float64
residual         float64
fft_real         float64
fft_imag         float64
dtype: object

In [1]:
datatest

NameError: name 'datatest' is not defined

In [64]:
import xgboost as xgb
import tensorflow as tf
from sklearn.metrics import mean_squared_error,root_mean_squared_error
from sklearn.model_selection import TimeSeriesSplit
import pandas as pd
import matplotlib.pyplot as plt

# Assurez-vous que `datatest` est défini
# Exemple :
# datatest = ...

# Séparer les caractéristiques et la cible
X = datatest.drop(columns='Amount_Unpaid')
y = datatest['Amount_Unpaid']

# Définir le TimeSeriesSplit
tscv = TimeSeriesSplit(n_splits=6)

# Paramètres optimisés
params = {
    "objective": "reg:squarederror",
    "booster": "gbtree",
    "lambda": 0.10105442226556262,
    "alpha": 0.4886124711925553,
    "eta": 0.09817565918148405,
    "max_depth": 7,
    "gamma": 0.920355383526404,
    "grow_policy": "depthwise",
    "n_estimators": 20
}

mse_scores = []
rmse_scores = []
mape_scores = []

df = pd.DataFrame(data)

results = pd.DataFrame(columns=['Month', 'Predictions'])


for train_index, test_index in tscv.split(X):
    X_train_split, X_test_split = X.iloc[train_index], X.iloc[test_index]
    y_train_split, y_test_split = y.iloc[train_index], y.iloc[test_index]

    dtrain = xgb.DMatrix(X_train_split, label=y_train_split)
    dvalid = xgb.DMatrix(X_test_split, label=y_test_split)

    reg = xgb.train(
        params=params,
        dtrain=dtrain,
        num_boost_round=params["n_estimators"],
        evals=[(dvalid, "validation")],
        evals_result={},
        early_stopping_rounds=50,
        verbose_eval=False
    )

    y_pred = reg.predict(dvalid)
    temp_df = X_test_split.copy()
    temp_df['Predictions'] = y_pred
    temp_df['Month'] = pd.Categorical(temp_df['Month'], categories=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], ordered=True).categories[temp_df['Month']]
    
    results = pd.concat([results, temp_df[['Month', 'Predictions']]], ignore_index=True)

    mse = mean_squared_error(y_test_split, y_pred)
    rmse = root_mean_squared_error(y_test_split, y_pred)
    mape = mean_absolute_percentage_error(y_test_split, y_pred)

    mse_scores.append(mse)
    rmse_scores.append(rmse)
    mape_scores.append(mape)

 
mean_rmse = sum(rmse_scores) / len(rmse_scores)
mean_mse = sum(mse_scores) / len(mse_scores)
mean_mape = sum(mape_scores) / len(mape_scores)

print(f'RMSE: {mean_rmse}')
print(f'MSE: {mean_mse}')
print(f'MAPE: {mean_mape}')

C:\Users\amine\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\xgboost\core.py:158: UserWarning: [19:35:17] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-06abd128ca6c1688d-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "n_estimators" } are not used.

  warnings.warn(smsg, UserWarning)
C:\Users\amine\AppData\Local\Temp\ipykernel_9160\2289749234.py:63: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  results = pd.concat([results, temp_df[['Month', 'Predictions']]], ignore_index=True)
C:\Users\amine\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\xgboost\core.py:158: UserWarning: [19:35:17] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-06abd128ca6c1688d-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "n_estimators" } are not used.

  warnings.warn(smsg, UserWarning)
C:\Users\amine\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\xgboost\core.py:158: UserWarning: [19:35:17] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-06abd128ca6c1688d-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "n_estimators" } are not used.

  warnings.warn(smsg, UserWarning)
C:\Users\amine\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\xgboost\core.py:158: UserWarning: [19:35:17] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-06abd128ca6c1688d-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "n_estimators" } are not used.

  warnings.warn(smsg, UserWarning)
C:\Users\amine\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\xgboost\core.py:158: UserWarning: [19:35:18] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-06abd128ca6c1688d-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "n_estimators" } are not used.

  warnings.warn(smsg, UserWarning)
C:\Users\amine\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\xgboost\core.py:158: UserWarning: [19:35:18] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-06abd128ca6c1688d-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "n_estimators" } are not used.

  warnings.warn(smsg, UserWarning)

RMSE: 747.1239652193976
MSE: 565555.5073500874
MAPE: 0.9576077526638516

In [65]:
import xgboost as xgb

# Supposons que 'model' est un XGBRegressor ou un Booster
reg.save_model('regmodel.xgb')

C:\Users\amine\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\xgboost\core.py:158: UserWarning: [19:35:23] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-06abd128ca6c1688d-1\xgboost\xgboost-ci-windows\src\c_api\c_api.cc:1374: Saving model in the UBJSON format as default.  You can use file extension: `json`, `ubj` or `deprecated` to choose between formats.
  warnings.warn(smsg, UserWarning)

In [66]:
from joblib import dump, load

# Supposons que 'model' est votre modèle entraîné
dump(reg, 'modelreg.joblib')

['modelreg.joblib']

In [13]:
import pandas as pd

# Créer un DataFrame vide avec des colonnes spécifiées
dff = pd.DataFrame(columns=['Month', 'ID_Client', 'Montant_impayé', 'Run_ID', 'Execution_Date'])

# Spécifier le chemin où le fichier CSV sera enregistré
file_path = "C:\\Users\\amine\\Downloads\\riskcreditpredicted.csv"

# Enregistrer le DataFrame vide en fichier CSV
dff.to_csv(file_path, index=False)

print(f"Le fichier CSV vide a été créé à : {file_path}")
dff.dtypes

Le fichier CSV vide a été créé à : C:\Users\amine\Downloads\riskcreditpredicted.csv

Month             object
ID_Client         object
Montant_impayé    object
Run_ID            object
Execution_Date    object
dtype: object